{% load i18n %}
{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<title>{% block title %}ESLWriter | Writing Style Search{% endblock %}</title>
	<script type="text/javascript" src="{% static 'common/js/jquery-1.11.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'common/js/bootstrap.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'common/img/eslwriter.ico' %}" />
	<link rel="bookmark" href="{% static 'common/img/eslwriter.ico' %}" />
	<link href="{% static 'common/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'common/css/style.css' %}?v={% now 'Ymd' %}" type="text/css" rel="stylesheet" />
	<script type="text/javascript">
	$('.main .container').ready(function(){
		$(".fixed-form input[type !='submit'][type!='checkbox']").attr('class','form-control fixed-width-control');
		$(".fixed-form select").attr('class','form-control');
		$(".fixed-form select").css("width","auto");
	});
	</script>
{% if not DEBUG %}
<!--Baidu statistics-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?377ba142a5c2dbb048149a096c2a8929";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
{% endif %}
	{% block resource %}{% endblock %}
</head>

<body><div id="wrapper">
{% if DEBUG %}
	<div style="padding-left: 1%; background: cornsilk;">{% trans 'NOTE: You are now visiting an INTERNAL version.' %} <a href="http://www.eslwriter.org/">{% trans 'Switch to the PUBLIC version &gt;' %}</a></div>
{% endif %}
	<div id="header">{% block header %}
		<div class='navbar'>
			<div class='container' style='position: relative'>
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'eslwriter' %}">
						<img style="margin-top: -22px;margin-left: -20px;width: 98px;" src="{% static 'common/img/logo_min.png' %}?v={% now 'Ymd' %}" alt="ESLWriter mini logo">
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" style="margin-right: -20px;">
					{% block function_div %}
					{% endblock %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'eslwriter_guide' %}">{% trans 'Guide' %}</a></li>
						{% if not user.is_authenticated %}
						<li><a href="{% url 'auth_login' %}">{% trans 'Sign in' %}</a></li>
						<li><a href="{% url 'registration_register' %}">{% trans 'Sign up' %}</a></li>
						{% else %}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;{{ user.username|truncatechars:12 }} <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="{% url 'account' %}">{% trans 'Settings' %}</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'auth_logout' %}">{% trans 'Sign out' %}</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	{% endblock %}</div>

	<div id="content">
		<div class="container">{% block content %}{% endblock %}</div>
	</div>
	<div id="footer">
		<div style="width:900px;margin:0 auto;">
			<hr style="height:1px; background:#E1E0DE;margin-bottom: 15px">
			<a style="float:right;" href="http://pi.cs.tsinghua.edu.cn/contact/">{% trans 'Contact&nbsp;Us' %}</a>
			<a style="float:right;margin-right: 20px" href="{% url 'about' %}">{% trans 'About&nbsp;Us' %}</a>
			<div style="float:left;">ESLWriter<span style="color:#999999">&nbsp;&copy;&nbsp;2012&nbsp;-&nbsp;{% now 'Y' %}</span></div>
		</div><br />
	</div>
</div></body>

</html>
