{% extends "eslwriter_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}ESLWriter | Guide{% endblock %}

{% block content %}
<div class='main'>
	<div class='container container-guide'>
		<div class="hr hr-short guide-title" >
			<span class="hr-inner" ></span>
			<span class="hr-inner-style" ></span>
			<h2 class="text-center"><b>Getting Started</b></h2>
			<span class="hr-inner-style" ></span>
			<span class="hr-inner" ></span>
		</div>


		<div>
			<p>{% trans 'ESLWriter searches nearly every paper published in the field of computer science (with more  academic domains coming in the near future). Use ' %} <b>{% trans 'Target Corpus, Collocation, and Synonym Tools ' %}</b>{% trans 'to make your results more precise.' %}</p>
		    <div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
		</div>

		<div>
			<h3><span class="glyphicon glyphicon-education" aria-hidden="true" ></span><b>{% trans 'Target Corpus' %}</b></h3>
			<p >{% trans 'Select &#34;Settings&#34; from the drop-down menu in the upper right corner, then choose your interested field as your corpus.' %}</p>
			<img src="{% static 'eslwriter/img/fieldsetting.gif' %}?v={% now 'Ymd' %}" alt="Field setting">

		</div>

        <div>
			<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
			<h3><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span><b>{% trans 'Collocation' %}</b>
			</h3>

			<p>{% trans 'When you enter one or two terms in the search bar, ESL Writer will automatically show suggested collocation types' %} <b>{% trans '(n+v)' %}/{% trans '(v+n)' %}/{% trans '(prep)' %}/{% trans '(modifies)' %}</b>{% trans '. Wildcard ' %}<b>*</b> {% trans 'can be used as a placeholder for one of the two collocated words.' %}</p>
			<img src="{% static 'eslwriter/img/collocation1.gif' %}?v={% now 'Ymd' %}" alt="collocation1">
			<p class="guide-instruct">{% trans 'searching for a verb to collocate with robustness' %}</p>
			<p style="margin-top: 30px;">{% trans 'All collocation results, along with their usage counts, are displayed on the left side of the results page.' %}</p>
		    <img src="{% static 'eslwriter/img/collocation2.gif' %}?v={% now 'Ymd' %}" alt="collocation2">
			<p class="guide-instruct">{% trans 'Searching for a preposition for suggestion' %}</p>
        </div>

        <div>
			<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
			<h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span><b>{% trans 'Include Synonyms' %}</b></h3>
			<p>{% trans 'Add a question mark' %} <b>? </b>{% trans ' at the end of a word to include its synonyms in the search results.' %}</p>
			<img src="{% static 'eslwriter/img/semantic.gif' %}?v={% now 'Ymd' %}" alt="semantic">
		</div>

        <div>
			<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
			<h3><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span><b>{% trans 'Mixed Use' %}</b></h3>
			<p>{% trans 'ESLWriter supports mixed use of both features above.' %}</p>
			<img src="{% static 'eslwriter/img/mixsearching.gif' %}?v={% now 'Ymd' %}" alt="mixed searching">
		</div>

		<div>
			<p class="guide-end"><a href="{% url 'eslwriter' %}" class="eslwriter-btn-link"><b>{% trans '&gt; Enjoy ESLWriter Now!' %}</b></a></p>
		</div>

	</div>
</div>

{% endblock %}
