{% extends "eslwriter_base.html" %}
{% load static %}

{% block title %}ESLWriter | Guide{% endblock %}

{% block content %}
<div class='main'>
	<div class='container container-guide'>
		<div class="hr hr-short guide-title" >
			<span class="hr-inner" ></span>
			<span class="hr-inner-style" ></span>
			<h2 class="text-center">How To Use</h2>
			<span class="hr-inner-style" ></span>
			<span class="hr-inner" ></span>
		</div>


		<div>
			<p>ESLWriter has collected nearly all the paper in the field of computer science (and more other domains in the near future) for you to refer to. It features three fascinating functions: <b>Field Setting, Collocation Finding, Semantic Searching.</b></p>
		    <div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
		</div>

		<div>
			<h3><span class="glyphicon glyphicon-education" aria-hidden="true" ></span><b>Field Setting</b></h3>
			<p >Sign up as a registered user and click your profile on the top to the account setting page. Choose your interested field as the corpus.</p>
			<img src="{% static 'eslwriter/img/fieldsetting.gif' %}?v={% now 'Ymd' %}" alt="Field setting">

		</div>

        <div>
			<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
			<h3><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span><b>Collocation Finding</b>
			</h3>

			<p>Enter one or two keywords and the search bar will automatically show collocation tips to choose. It supports <b>(修饰)/(动宾)/(介词)/(主谓)</b> of up to two collocated words to search.</p>
			<img src="{% static 'eslwriter/img/collocation1.gif' %}?v={% now 'Ymd' %}" alt="collocation1">
			<p class="guide-instruct">searching for a verb to collocate with robustness</p>
		    <img src="{% static 'eslwriter/img/collocation2.gif' %}?v={% now 'Ymd' %}" alt="collocation2">
			<p class="guide-instruct">Searching for a preposition for suggestion</p>
        </div>

        <div>
			<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
			<h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span><b>Semantic Searching</b></h3>
			<p>Type a word you would like to find synonyms and add a question mark <b>? </b>in the end. Then you would get the synonyms of this word in the related field.</p>
			<img src="{% static 'eslwriter/img/semantic.gif' %}?v={% now 'Ymd' %}" alt="semantic">
		</div>

        <div>
			<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
			<h3><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span><b>Mixed Search</b></h3>
			<p>Finally, it has also mixed search function to combine <b>semantic searching </b>and <b>collocation finding </b>functions. After selecting a collocation tip you can add a question mark after one or two key words to have better results.</p>
			<img src="{% static 'eslwriter/img/mixsearching.gif' %}?v={% now 'Ymd' %}" alt="mixed searching">
		</div>

		<div>
			<p class="guide-end"><a href="{% url 'eslwriter' %}" class="eslwriter-btn-link"><b>&gt; Enjoy ESLWriter Now!</b></a></p>
		</div>

	</div>
</div>

{% endblock %}
