{% extends "eslwriter_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}ESLWriter{% endblock %}

{% block content %}
<div class='main'>
	<div class='container'>
		<div id="QueryContent">
			<div id="LogoBack" {%if count%} style="height:0px;overflow:hidden" {%endif%} >
				<div id="LogoContainer">
					<a href="{% url 'eslwriter' %}">
						<img style="margin-top: -5px;margin-left: -15px;width: 265px;" src="{% static 'common/img/logo.png' %}?v={% now 'Ymd' %}" alt="ESLWriter logo">
					</a>
				</div>
			</div>
			<div class="ResultList" id="QueryResult">
				{% comment %}
				<div id="SettingPanel">
					<label for="CorpusSelector">Current Corpus: </label>
					<select id="CorpusSelector" name="c" form="SearchBar">
					{% for id, c in cc.iteritems %}
						<option value="{{ id }}"{% if id == cid %} selected="selected"{% endif %}>{{ c.info.name }}</option>
					{% endfor %}
					</select>
				</div>
				{% endcomment %}
				<form id="SearchBar" action="{% url 'eslwriter' %}" method="GET" onsubmit="return true;">
					<div id="SearchBox">
						<!-- <input id="fake_user_name" name="fake_user[name]" style="position:absolute; top:-100px; display:none;" type="text" value="Safari"> -->
						<input type="text" id="SearchInput" placeholder="English&nbsp;Keywords." name="q" autocomplete="off" />
						<!--<button class="clearBtn hideText" type="reset">X</button>-->
						<div id="SuggestionContainer" style='clear:left'></div>
					</div>
					<button id="SearchBtn" class="hideText" type="submit">{% trans 'Search' %}</button>
				</form>

				<div class="hr hr-short index-title">
					<span class="hr-inner" id="lineone"></span>
					<span class="hr-inner-style"id="circleone"></span>
					<h3 class="text-center"><b>{% trans 'Usage' %}</b></h3>
					<span class="hr-inner-style" id="circletwo"></span>
					<span class="hr-inner" id="linetwo"></span>
				</div>
				<ul class="ExampleList">
					<li>
						<h3>
							<span style="vertical-align: text-top;"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="font-size: 14px;"></span></span>
							<button type="button" class="btn-link eslwriter-btn-link example-btn-link"><strong>* (修饰)</strong> {% trans 'impact' %}</button> <span style="font-size: 14px;">{% trans '(wildcard)' %}</span>
						</h3>
						<div class="example-sentences">
							<p><b>significant ... impact (410):</b> These highly discrepant values had <strong>significant impact</strong> on the mission duration and cost.</p>
							<p><b>positive ... impact (263):</b> The game was not very popular, but had a small <strong>positive impact </strong>on reaction times.</p>
							<p><b>potential ... impact (149):</b> Following use of the wristband, a number of themes arose with respect to its <strong>potential impact</strong>.</p>
							<p>...</p>
						</div>
						<i>{% trans 'Tips: When you enter one or two terms in the search bar, ESL Writer will automatically show suggested wildcards types' %} <strong>{% trans '(subject-verb)/(verb-object)/(preposition)/(adjective)</strong>' %} </strong>. {% trans 'Wildcard' %} <strong>*</strong> {% trans 'can be used as a placeholder for one of the two collocated words. ' %}</i>
						<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
					</li>
					<li>
						<h3>
							<span style="vertical-align: text-top;"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="font-size: 14px;"></span></span>
							<button type="button" class="btn-link eslwriter-btn-link example-btn-link">{% trans 'hesitation' %}<strong>?</strong></button> <span style="font-size: 14px;">{% trans '(include synonyms)' %}</span>
						</h3>
						<div class="example-sentences">
							<p><b>doubt (562):</b> Text enclosed in parentheses represents transcribed talk for which <strong>doubt</strong> exists.</p>
							<p><b>reluctance (161):</b> This led to an extreme <strong>reluctance</strong> to participate in the development of new technologies.</p>
							<p><b>hesitation (108):</b> Participants showed no <strong>hesitation</strong> in voicing confusions, criticisms and suggestions.</p>
							<p>...</p>
						</div>
						<i>{% trans 'Tips: ' %} <strong>{% trans '&lt;word&gt;?' %}</strong> {% trans 'includes synonyms of &lt;word&gt; in the search results.' %}</i>
						<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
					</li>
					<li>
						<h3>
							<span style="vertical-align: text-top;"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="font-size: 14px;"></span></span>
							<button type="button" class="btn-link eslwriter-btn-link example-btn-link">{% trans 'open' %}<strong>?</strong> <strong>(动宾)</strong> {% trans 'program' %}</button> <span style="font-size: 14px;">{% trans '(mixed use)' %}</span>
						</h3>
						<div class="example-sentences">
							<p><b>start ... program (29):</b> The modelled task is "to programm a couple of songs and to<strong> start</strong> this <strong>program</strong>”.</p>
							<p><b>launch ... program (25):</b> Think about how you <strong>launch programs</strong>, edit documents, and browse the web.</p>
							<p><b>open ... program (6):</b> To <strong>open</strong> eternal <strong>programs</strong> from a browser is critical issue due to security restrictions.</p>
							<p>...</p>
						</div>
						<i>{% trans 'Tips: ESLWriter supports ' %} <strong>{% trans 'mixed use' %}</strong> {% trans 'of both features above.' %}</i>
						<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
					</li>
					<li>
						<h3>
							<span style="vertical-align: text-top;"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true" style="font-size: 14px;"></span></span>
							<button type="button" class="btn-link eslwriter-btn-link example-btn-link">{% trans 'to our best knowledge' %}</button> <span style="font-size: 14px;">{% trans '(basic search)' %}</span>
						</h3>
						<div class="example-sentences">
							<p><strong>To our best knowledge</strong>, the developed algorithms are off-line processing ones.</p>
							<p>However, there has <strong>to</strong> the <strong>best</strong> of <strong>our knowledge</strong> not been any such comparison carried out.</p>
							<p>Neither has Kleinberg's method been implemented yet in a commercial web search engine, <strong>to</strong> the <strong>best</strong> of <strong>our knowledge</strong>.</p>
							<p>...</p>
						</div>
						<i>{% trans 'Tips: Enter' %} <strong>{% trans 'a keyword or phrase' %}</strong> {% trans 'to find usage examples from the target corpus.' %}</i>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
