{% load i18n %}

<div>
    <ul id="registrationSteps" class="nav nav-tabs" style="margin-top: 40px;">
        <li role="presentation" class="step1 {% if step == 1 %}active{% else %}disabled{% endif %}"><a><span class="glyphicon glyphicon-user" style="margin-right: 10px;"></span><span><strong>{% trans 'Step' %} 1: </strong>&nbsp;{% trans 'Set up' %}</span></a></li>
        <li role="presentation" class="step2 {% if step == 2 %}active{% else %}disabled{% endif %}"><a><span class="glyphicon glyphicon-book" style="margin-right: 10px;"></span><span><strong>{% trans 'Step' %} 2: </strong>&nbsp;{% trans 'Activate' %}</span></a></li>
        <li role="presentation" class="step3 {% if step == 3 %}active{% else %}disabled{% endif %}" ><a><span class="glyphicon glyphicon-ok" style="margin-right: 10px;"></span><span><strong>{% trans 'Step' %} 3: </strong>&nbsp;{% trans 'Choose corpus in domain' %}</span></a></li>
    </ul>
</div>
