{% extends "base.html" %}

{% block resource %}
{% load static %}
<meta name="keywords" content="ESLWriter; English as a second language; ESL; academic writing; writing assistant; dictionary; 学术; 写作; 助手; 查询; 清华大学人机交互实验室">
<meta name="description" content="《ESLWriter》(eslwriter.org)是一款适合国人英语写作的信息助手,由清华大学人机交互实验室出品,它收录了计算机领域的近乎所有的论文作为语料库,供您通过各种方式查询地道的英语用法和例句.从今以后像老外一样写作,再也不用担心自己的语言问题了!">
<!--css for search bar in main page-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'eslwriter/css/style.css' %}">-->
<script type="text/javascript" src="{% static 'eslwriter/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eslwriter/js/eslwriter-init.js' %}?v={% now 'Ymd' %}"></script>
<script type="text/javascript">
	var DEP_URL = '{% url "dep" %}';
</script>

{% block eslwriter_resource %}{% endblock %}
{% endblock %}
