{% extends "base.html" %}
{% load i18n %}

{% block resource %}
{% load static %}
<meta name="keywords" content="ESLWriter; English as a second language; ESL; academic writing; writing assistant; dictionary; 学术; 写作; 助手; 查询; 清华; 大学; 人机交互; 实验室">
{% blocktrans asvar meta_description %}ESLWriter is an English writing assistant for researchers, created by the HCI Group at Tsinghua University. It helps you find idiomatic usages and examples in authentic academic papers.{% endblocktrans %}
<meta name="description" content="{{ meta_description }}">
<!--css for search bar in main page-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'eslwriter/css/style.css' %}">-->
<script type="text/javascript" src="{% static 'eslwriter/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eslwriter/js/eslwriter-init.js' %}?v={% now 'Ymd' %}"></script>
<script type="text/javascript">
	var DEP_URL = '{% url "dep" %}';
</script>

{% block eslwriter_resource %}{% endblock %}
{% endblock %}
